/* Import the fonts */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

/* Container styles */
.quote-container {
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;

  box-sizing: border-box;
}

/* Figure styles */
figure.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(100, 100, 100, 10);
  border-radius: 8px;
  transform: translateY(20px);
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}


figure.snip1139:nth-child(1) {
  animation-delay: 0.2s;
  margin-top: 100px;
  margin-right: 40px;
}


figure.snip1139:nth-child(2) {
  animation-delay: 0.4s;
  margin-right: 40px;
}

figure.snip1139:nth-child(3) {
  animation-delay: 0.6s;
  margin-bottom: 100px;
}


@keyframes fadeInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

figure.snip1139.animate-fade-in-up {
  animation: fadeInUp 0.5s forwards;
}cd bella-v

figure.snip1139 * {
  box-sizing: border-box;
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}

figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}

figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}

figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}

figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
