.admindt{
   display: flex;
}
.clientdt{
 width: 900px;

}
#client-details{
    background-color: rgb(230, 228, 228);
    display: flex ;
    margin-top: 100px;
     width: 1200px;
    justify-content: center;
    font-family: serif;
    font-size: 18px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 150px;
}
.step2Container {
    margin-right: 100px;
}