.activity-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.activities{
   width: 500px;
}
.activity-details {
    flex-grow: 1;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hract {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}
